/* TODO Add site wide styles */
* {
    font-family: "Open Sans", sans-serif;
}
body{
    width: auto;
    height: auto;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 5%;
}
a,button{
    border-radius: 6px;
}
