/* TODO Add site wide styles */
* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100vh;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;

}
a,button{
    border-radius: 6px;

}
#root{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
