#Home-Page{
    font-family: "Open Sans", sans-serif;
    color: rgb(77, 77, 77);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-bottom: 20px;
}
.listing{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.item-listed{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    min-height: 350px;
    margin:20px;
    padding: 0;
    border: 1px solid grey;
    border-radius: 5px;
}
/* .MuiCardActions-root{
    display: flex;
    justify-content: center;
} */
.item-listed a{
    box-sizing: content-box;;
    text-decoration: none;
    font-weight: 700;
    color: rgb(77, 77, 77);
    font-size: 16px;
    text-align: center;

}

.item-listed img{
    box-sizing: content-box;;
    max-width: 250px;
    max-height: 250px;
    padding: 0;
    margin: 0;

}
#item-shop{
    display: flex;
    flex-direction: column;
}

.item-show{
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    margin: 5px 15px;
    padding: 5px 15px;
}
.item-show:hover{
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    color: white;
    background-color: black;
}

#promo{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    background-color: rgb(0, 84, 166);
    color:white;
    padding: 5px;
    height: 30px;
    align-items: center;
}
#promo-time{
    display: flex;
    height: 250px;
    width: 100%;
    justify-content: center;
}
 #banner{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(77, 77, 77);;
}
#banner img{
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    margin: 0 25px;
}
