#item-detail-page{
    max-width: 1140px;
    margin: 0 500px;
    font-family: "Open Sans", sans-serif;
    padding: 5% 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    min-width: 1000px;
}

#location{
    font-weight: 700;
}
.item-display-flex{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    float: none;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.item-display-flex img{
    width: 300px;
    height: 300px;
}

.item-image{
    border: 1px solid grey;
    height: 100%;
}

.item-info{
    padding: 0 10px;
    font-size: 30px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(77, 77, 77);
}

.item-info span{
    color: rgb(0, 84, 166);
    font-weight: 600;
}

#cart{
    background-color: rgb(240, 153, 16);
    color: white;
    border: none;
    display: inline-block;
    font-size: 20px;
    margin: 15px 0;
    max-width: 375px;
    text-align: center;
    line-height: 25px;
    font-weight: 700;
    padding: 10px;
}

#add-to-cart button{
    border: 1px solid black;
    box-sizing: border-box;
    padding: 15px 30px;
    background-color: white;
    margin: 0 5px;
}
#add-to-cart input[type=number]{
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
    width: 60px;
    appearance: textfield;
    height: 45px;
    text-align: center;

}
.item-description,.item-reviews{
    border: 1px solid black;
    margin: 0 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.item-description{
    text-align: center;
}
#tabs-box{
    margin: 0 50px;
}
.tab{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
    color: rgb(77, 77, 77);
    font-size: 16px;
    font-weight: 400;
    padding: 6px 15px;
}
.tab:hover{
    color: rgb(6, 86, 164);
    transition: height .12s ease-in-out;
}

.review-comment{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 5px;
}

.review-comment .item-span{

    font-weight: 700;
}
.item-span{
    color:rgb(6, 86, 164);;
}

#info-review{
    display: flex;
    justify-content: space-between;
}
.edit-delete button, .edit-delete a{
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    margin: 5px 15px;
    padding: 5px 15px;
    width: 70px;
    font-size: 12px;
    background-color: lightgrey;
    color: black;
    font-family: "Open Sans", sans-serif;
}
.edit-delete button:hover,.edit-delete a:hover{
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid black;
    text-align: center;
    color: white;
    background-color: black;

}

.item-description a{
    text-decoration: none;
    color:rgb(77, 77, 77);
    font-weight: 600;
}
.item-description a:hover{
    color:rgb(0, 84, 166);
}
