#review-display{
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#edit-review-form{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
#edit-errors,#add-errors{
    color:red;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
#edit-review-form button, #add-review-form button{
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    margin: 5px 15px;
    padding: 5px 15px;
    width: 70px;
    font-size: 12px;
    background-color: #00ADB5;
    color: #EEEEEE;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}
#edit-review-form button:hover, #add-review-form button:hover{
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid black;
    text-align: center;
    color: #00ADB5;
    background-color: #EEEEEE;
}
