#review-display{
    background-color: rgb(118, 118, 118);
    opacity: .7;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
}
#edit-review-form{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
    padding: 15px;
}
#edit-errors,#add-errors{
    color:red;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
#edit-review-form button, #add-review-form button{
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    margin: 5px 15px;
    padding: 5px 15px;
    width: 70px;
    font-size: 12px;
    background-color: lightgrey;
    color: black;
    font-family: "Open Sans", sans-serif;
}
#edit-review-form button:hover, #add-review-form button:hover{
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid black;
    text-align: center;
    color: white;
    background-color: black;
}
