#user-page{
    font-family: "Open Sans", sans-serif;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    text-align: center;
    /* align-self: center; */
    font-family: "Open Sans", sans-serif;
    color: rgb(77, 77, 77);
    background-color:#393E46;
    height: 100vh;
}
#user-page h1{
    color: white;
}
.owner{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #EEEEEE;
}
.owner li{
    list-style-type: none;
}
.owner a{
    box-sizing: border-box;
    border: 1px solid black;
    margin: 5px 15px;
    padding: 5px 15px;
    background-color: #00ADB5;
    color: #EEEEEE;
    display: inline-block;
    max-width: 375px;
    text-align: center;
    line-height: 25px;
    font-weight: 700;
    text-decoration: none;
}

.owner a:hover{
    background-color: #EEEEEE;
    color: #00ADB5;
}
#owner-items > p{
display: flex;
flex-direction: column;
}
#owner-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
}

#user-page img{
    max-width: 250px;
    max-height: 250px;
}

.item-sale{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    max-width: 350px;
    max-height: 350px;
    border-radius: 1em;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 10px 20px;
    background-color: white;
    padding: 1rem;
    font-weight: 700;
color: rgb(77, 77, 77);
font-size: 16px;
text-align: center;
}

.edit-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.edit-delete button, .edit-delete a{
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    margin: 5px 15px;
    padding: 5px 15px;
    width: 70px;
    font-size: 12px;
    background-color: lightgrey;
    color: black;
    font-family: "Open Sans", sans-serif;
}
.edit-delete button:hover,.edit-delete a:hover{
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid black;
    text-align: center;
    color: white;
    background-color: black;

}
