#item-new-form-page{
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display-form > form{
    display: flex;
    flex-direction: column;
    width: max-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 10px 20px;
}
#errors{
    color:red;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#add-item-form button, #add-item-form a{
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    margin: 5px 15px;
    padding: 5px 15px;
    width: 70px;
    font-size: 12px;
    background-color: lightgrey;
    color: black;
    font-family: "Open Sans", sans-serif;
}
#add-item-form button:hover, #add-item-form a:hover{
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid black;
    text-align: center;
    color: white;
    background-color: black;
}
